PORT=3000
NODE_ENV=production
DB_PATH=database.sqlite
SESSION_SECRET=invoice-surat-jalan-secret-key-2026

# WhatsApp Bot Integration (Set to true to activate WA Bot)
ENABLE_WA_BOT=true

# Directory & Template Paths Configuration
STORAGE_DIR=storage
TEMP_DIR=temp
LOGS_DIR=logs

TEMPLATE_INV_PATH=Invoice Pembelian Bahan.xlsx
TEMPLATE_SJ_PATH=Surat_Jalan_Barang.xlsx

LOGO_INV_PATH=Logo-Invoice.jpg
LOGO_SJ_PATH=Logo-SuratJalan.png
